body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    display: flex;
    /* max-width: fit-content; */
    width: 100%;
    font-size: 16px;
    /* font-size: 100%; */
    /* display: -webkit-box;
    display: -ms-flexbox;
    display:flex; */
}

.container{
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    border: 0.1em solid #000000;

    /* align-self:center; */
    font-size: 1em;
    /* flex: auto; */
    display: -webkit-box;
    display: -ms-flexbox;
    display:flex;
}


.black-container {
    font-size: 1em;
    min-width: min-content;
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.person-initials{
    background-color: #000000;            
    text-align: right;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding: 20px;
}
.person-initials h1{
    /* font-size: 40px; */
    font-size: 2.5em;
    /* font-size: 2.5em; */
    color: #ffffff;
    margin-block-start: 0;
    margin-block-end: 0;
}
.person-initials h2{
    /* font-size: 35px; */
    font-size: 2em;
    margin-block-start: 0;
    margin-block-end: 0;
}

.white-container {
    
    max-width: 700px;
    min-width: 580px;


    background-color: #ffffff;
    flex: auto;  
    margin-top: 4em;  
    /* margin-bottom: 4em; */
    margin-left: 85px; 
    margin-right: 100px; 
    /* padding-right: 10px;     */
    
      
}


section{
    /* margin-block-end: 50px; */
    margin-block-end: 4em;
    font-size: 1em;
    max-width: fit-content;
}
section h2{
    /* font-size: 25px; */
    font-size: 1.6em;
    font-weight: bolder;
}


.about_me{
    max-width: auto;
}
.about_me-details{
    color: #525252;
}


.education{
    max-width: auto;
    margin-left: 0;
    /* font-size: 23px; */
}
.education h3{
    
    margin-block-end: 10px;
}
.education-details{
    color: #525252;
}


.experience{
    max-width: auto;
    /* font-size: 23px; */
    font-size: 1.5em;
}
.experience > ul{
    padding-inline-start: 20px;
}
.experience-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1em;
    font-size: 1em;
}
.experience-item-year{
    /* font-size: 20px; */
    font-size: 0.9em;
    font-weight: bold;
    min-width: 2.5em;
}
.experience-item-name{
    
    /* font-size: 20px; */
    font-size: 0.9em;
    font-weight: bold;
}
.experience-item-company{
    /* font-size: 20px; */
    font-size: 0.9em;
    font-weight: bold;
}
.experience-item-details{
    /* font-size: 16px; */
    font-size: 0.7em;
    font-weight: normal;
    color: #525252;
}
.experience-item-details ul{
    list-style-type:disc;
    padding-inline-start: 40px;
}


.skills{
    font-size: 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
}
.skill {
    font-size: 0.7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}


.skills-name div{
    font-size: 0.7em;
    
    margin-bottom: 0.5em;
}
/* .progress-container{
    margin-left: 10px;
} */
.progress-container progress{
    flex: 1;
    width: 200px;
    /* height: 18px; */
    height: 0.8em;
    margin-bottom: 0.1em;
    max-width: 200px;
    
    margin-right: 30px;
}
progress {
    
    border-radius: 10px;
    background-color: #ffffff;
    margin-left: 1em;
}
progress::-webkit-progress-value {
    background-color: #0e0e0e;
    border-bottom-right-radius:   5px;
    border-top-right-radius:  5px;
}
progress::-webkit-progress-bar {
    background-color: rgb(221, 221, 221);
    border: 1px solid #000000;
    border-radius: 5px;
}

.contact-info{
    padding: 10px;
    background-color: #000000;
    color:lightgrey;
}
.contact-info-details{
    text-align: left;
}
.contact-info h2{
    color: #ffffff;
    /* font-size:40px; */
    font-size: 2.2em;
}
.contact-container{
    background-color: #000000;
    position: absolute;
    align-self: flex-end;
}

@media (max-width: 575px) {
    body{
        font-size: 10px;
    }
    .container{
        /* border: 1em; */
        max-width: 575px;
        min-width: auto;
        display:block;
        flex: auto;
    }
    .person-initials{
        background-color: #000000;
        text-align: left;
        writing-mode:horizontal-tb;
        transform:none;
        padding: 20px;
    }
    .person-initials h1{
        /* font-size: 35px; */
        color: #ffffff;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    .person-initials h2{
        /* font-size: 25px; */
        margin-block-start: 0;
        margin-block-end: 0;
    }
    .black-container {
        padding: 10px;
    }
    .person-initials h1{
        font-size: auto;
    }
    .person-initials h2{
        font-size: auto;

    }
    .white-container { 
        max-width: fit-content;
        /* min-width: 400px; */
        min-width:min-content;
        margin-top: 2em;
        /* margin-bottom: 0em; */
        padding-left: 30px;
        padding-right: 30px;

        margin-left: 0px;
        margin-right: 0px;
    }

    .contact-container{
        display: static;
        position:relative;
    }
    .contact-info{
        margin-left: auto;
        margin-right: auto;
        max-width:max-content;
        
    }

    .contact-info h2{
        /* font-size: 25px; */
        margin-block-start: 0;
        margin-block-end: 8px;
    }
    .contact{
        display: static;
        position:relative;
    }
}